/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
/* ----------------------------- Color Variables ---------------------------- */
$main-bg: #131313;
$component-bg: #1d1d1d;
$light-color: #ebebeb;
/* -------------------------------------------------------------------------- */

/* ------------------------------- Color Maps ------------------------------- */
$main-color-map: (
    lighter: lighten(#61f4ff, 15),
    default: #61f4ff,
    darker: darken(#61f4ff, 10),
);
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Sizes --------------------------------- */
$fontsize-map: (
    smaller: 12px,
    default: 14px,
    bigger: 16px,
);

$radius-map: (
    smaller-comp: 4px,
    small-comp: 6px,
    medium-comp: 8px,
    default: 10px,
);
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Fonts --------------------------------- */
@font-face {
    font-family: title-font;
    src: url('/assets/fonts/BebasNeue.ttf');
}

@font-face {
    font-family: AUYT;
    src: url('/assets/fonts/AUYT.ttf');
}

@font-face {
    font-family: main-font;
    src: url('/assets/fonts/YanoneKaffeesatz.ttf');
}
/* -------------------------------------------------------------------------- */
